body{
  overflow-y:hidden;
}

#fondo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo{
z-index: 5;

}
#usuario { transition: all .2s ease-in-out; }
#usuario:hover{ transform: scale(1.1); }

#invitado { transition: all .2s ease-in-out; }
#invitado:hover{ transform: scale(1.1); }

#btnEntrar { transition: all .2s ease-in-out; }
#btnEntrar:hover{ transform: scale(1.05); }


@font-face {
    font-family: "LuckiestGuy";
    src: url(../fonts/LuckiestGuy.ttf) format("truetype");
}

#registrate {
    color: #FF7F00;
    font-family: "LuckiestGuy";
    font-size:19px;
    margin-left: 20px;
    width: 180px;
    height: 30px;
    bottom: 75px;
    position: absolute;
    z-index: 4;
}

#atras {
    color: #8CE594;
    font-family: "LuckiestGuy";
    font-size:19px;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    top: 20px;
    position: absolute;
    z-index: 4;
}

a:link {   
 text-decoration:none;   
}
a:visited {
color: #FF7F00
}
a:hover{
    font-size:23px;
}

/************************LOGIN*******************************/
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  font-family: "LuckiestGuy";
}


/* Reset top and bottom margins from certain elements */

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


/* The triangle form is achieved by a CSS hack */

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #7A416A;
}

.login-header {
  background: #591244;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #7A416A;
  padding: 12px;
}


/* Every row inside .login-container is defined with p tags */

.login p {
  padding: 12px;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"],
.login input[type="submit"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
  background: #000;
  border-color: #7A416A;
  color: #fff;
}


/* Text fields' focus effect */

.login input[type="text"]:focus,
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #fff;
  box-shadow: #fff;
}

.login input[type="submit"] {
  background: #591244;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #591244;
}


/* Buttons' focus effect */

.login input[type="submit"]:focus {
  border-color: #591244;
}

/***************************Boton atras y registro ***************************/
.button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}
.btn1:after {
  left: 0;
  bottom: auto;
  top: -3px;
  width: 100%;
}
.btn2:after {
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.btn1:hover:after {
  top: calc(100% - 3px);
}
.btn2:hover {
  color: #5bcaff;
}
.btn2:hover:after {
  left: -10%;
  width: 120%;
}

.imgRegis{
  width:150px;
  height:150px;
  border-radius:75px;
}
div#archivo{
  position: relative;
  margin: 50px;
  padding: 10px;
  width: 150px;
  height: 150px;
  background-color: blue;
  -webkit-border-radius:100%;
  -webkit-box-shadow:0px 3px 0px #1a71a9; 
}

input#foto{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  width:150px;
  height:150px;
}


.termyCond{
  color: #fff;
  font-size: 17px;

}
.login input[type="checkbox"]{
  transform: scale(1.5);

}
<<<<<<< HEAD

input#foto:hover{
  cursor: pointer;
}

=======
input#foto:hover{
  cursor: pointer;
}
>>>>>>> master
