@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
*{
	margin: 0px;
	padding: 0px;
}

h1{
	margin-top: 50px;
	font-family: 'Luckiest Guy', cursive;
	font-size: 100px;
	color: #FF7F00;
	text-shadow: 0px 3px 0px #8C7659; 

}

#alias,#email,#contraseña,#repetir_contraseña{

	height: 20px;
	width:200px;
	text-align: center;
	font-family: "Luckiest Guy", cursive;
	border-radius: 7px;


}

#atras {
	font-family: "LuckiestGuy",cursive;
    color: #8CE594;
    font-size:22px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

#crear{

	height: 30px;
	width:205px;
	border-radius: 4px;
	background-color: #FF7F00;
	color: white;
	text-shadow:1px 2px 0px #8C7659; 
	font-family: "Luckiest Guy", cursive;
	border: none;


	

} 

::-webkit-input-placeholder  /* para Chrome */{

	
  	color: #85406C;
  	font-style: italic;
  	font-weight: bold;
  	text-shadow: 1px 1px 0px #AE9AB7;
  	
  	

}
:-moz-placeholder  /* para Firefox */ {

	
  	color: #BEB0FF;
  	font-style: italic;
  	font-weight: bold;
  	text-shadow: 1px 1px 0px #AE9AB7;
  

}
:-ms-input-placeholder  /* para Internet Explorer */ {

	
  	color: #BEB0FF;
  	font-style: italic;
  	font-weight: bold;
  	text-shadow: 1px 1px 0px #AE9AB7;
  	

}



div#archivo{
	position: relative;
	margin: 50px;
	padding: 10px;
	width: 150px;
	height: 150px;
	background-color: blue;
	-webkit-border-radius:100%;
	-webkit-box-shadow:0px 3px 0px #1a71a9; 
}

input#foto{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}
