body{
  background-image: url("../img/fontWeb.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}

#fondo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1, h2{
  color: #FF7F00;
}

h3{
  color: #000000;
}

.logo{
z-index: 5;

}
#usuario { transition: all .2s ease-in-out; }
#usuario:hover { transform: scale(1.1); }

#invitado { transition: all .2s ease-in-out; }
#invitado:hover { transform: scale(1.1); }

#btnEntrar { transition: all .2s ease-in-out; }
#btnEntrar:hover { transform: scale(1.05); }

#btnCompra { transition: all .2s ease-in-out; cursor: pointer;}
#btnCompra:hover { transform: scale(1.1); cursor: pointer;}

@font-face {
    font-family: "LuckiestGuy";
    src: url(../fonts/LuckiestGuy.ttf) format("truetype");
}

#registrate {
    color: #FF7F00;
    font-family: "LuckiestGuy";
    font-size:19px;
    margin-left: 20px;
    width: 180px;
    height: 30px;
    bottom: 75px;
    position: absolute;
    z-index: 4;
}

#proto{
    color: #FF7F00;
    font-family: "LuckiestGuy";
    font-size:20px;
    margin-left: 4%;
    width: 180px;
    height: 30px;
    position: absolute;
    z-index: 4;
}

#atras {
    color: #8CE594;
    font-family: "LuckiestGuy";
    font-size:19px;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    top: 20px;
    position: absolute;
    z-index: 4;
}

#cerrarsesion{
color: #8CE594;
font-family: "LuckiestGuy";
font-size:19px;
left:2%;
width: 200px;
height: 30px;
top: 7%;
position: absolute;
z-index: 4;

}

a:link {   
 text-decoration:none;   
}
a:visited {
color: #FF7F00
}
/*li:hover{
    font-size:23px;
}*/

/************************LOGIN*******************************/
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  font-family: "LuckiestGuy";
}


/* Reset top and bottom margins from certain elements */

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


/* The triangle form is achieved by a CSS hack */

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #7A416A;
}

.login-header {
  background: #591244;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #7A416A;
  padding: 12px;
}


/* Every row inside .login-container is defined with p tags */

.login p {
  padding: 12px;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"],
.login input[type="submit"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
  background: #000;
  border-color: #7A416A;
  color: #fff;
}


/* Text fields' focus effect */

.login input[type="text"]:focus,
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #fff;
  box-shadow: #fff;
}

.login input[type="submit"] {
  background: #591244;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #591244;
}


/* Buttons' focus effect */

.login input[type="submit"]:focus {
  border-color: #591244;
}

/***************************Boton atras y registro ***************************/
.button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}
.btn1:after {
  left: 0;
  bottom: auto;
  top: -3px;
  width: 100%;
}
.btn2:after {
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.buttonC{
  left: 1000;
}
.btn1:hover:after {
  top: calc(100% - 3px);
}
.btn2:hover {
  color: #5bcaff;
}
.btn2:hover:after {
  left: -10%;
  width: 120%;
}

.imgRegis{
  width:150px;
  height:150px;
  border-radius:75px;
}
div#archivo{
  position: absolute;
  margin: 50px;
  padding: 10px;

  background-color: blue;
  -webkit-border-radius:100%;
  -webkit-box-shadow:0px 3px 0px #1a71a9; 
  z-index: 2;
}

input#foto{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  opacity: 0;
  
  z-index: 3;
}


.termyCond{
  color: #fff;
  font-size: 17px;

}
.login input[type="checkbox"]{
  transform: scale(1.5);

}


input#foto:hover{
  cursor: pointer;
}


input#foto:hover{
  cursor: pointer;
}



/* CSS QUE HABIA EN EL MAIN_STYLE */


@font-face {
    font-family: "LuckiestGuy";
    src: url(../fonts/LuckiestGuy.ttf) format("truetype");
}

body{
    margin: 0;
    font-family: "LuckiestGuy";
}
.logo{
z-index: 5;

}

.imgRegis{
  width:150px;
  height:150px;
  border-radius:75px;
}

input#foto{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  width:150px;
  height:150px;
}

#fondo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#fondoNiveles
{
  width: 100%;
  height: 170%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

#fondoObjetos
{
  width: 120%;
  height: 270%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

#fondoEnemigos
{
  width: 100%;
  height: 220%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

#titulin
{
    color: white;
}


header{
    width: 100%;
    background: #85406C;
}

#btn-menu{/*ocultamos el checkbox*/
    display: none;
}

header label{/*atributos del boton desplegable del menu */
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover{/*atributos para cuando pasemos el cursor por encima del boton menu*/
    cursor: pinter;
    background: rgba(0,0,0,0.3);
}

.menu ul{/*atributos del listado del menu*/
    margin: 0;
    list-style: none;/*quitamos la colocacion por defecto del listado para que el menu no salga hacia abajo*/
    padding: 0;
    display: flex;/*este atributo hace que los campos del menu sean felixibles y se adapten a la pantalla*/
}

.menu li{/*atributos de los campos del boton (texto y contorno)*/
    text-align: center;
    flex-grow: 1;/*hacemos que la barra del menú se extienda a todo el largo de la pantalla adaptandose a su tamaño*/
    border-right: 1px solid white;/*pequeña linea que separa los campos del menú*/
}

.menu li:hover{
    background: rgba(97, 35, 76, 0.6);/*color de los campos del menu cuando el cursor pasa por encima*/
}

.menu li a{/*formato del textos del menu*/
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
/* FUNCIONES PARA EL FUNCIONMIENTO DE LA EDICION DE LA FOTO DE PERFIL*/
.imgRegis{
  width:150px;
  height:150px;
  border-radius:75px;
}
div#archivo{
  position: absolute;
  top: 70px;
  left: 10%; 
  width: 150px;
  height: 150px;
  background-color: blue;
  -webkit-border-radius:100%;
  -webkit-box-shadow:0px 3px 0px #1a71a9;
  z-index: 4;
}

input#foto{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  width:150px;
  height:150px;
  z-index: 4;
}
@media (max-width: 768px){/*equivalente a un if en progrmacion, que se activa cuando la resolucion horizontal 
    de la pantalla baja de 768px*/
    header label{
        display: block;
    }

    .menu{/*redefinimos la posicion del menu para cuando salga en vertical*/
        position: absolute;
        background: #85406C;
        width: 40%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul {/*el menu se muestra en forma de columna*/
        flex-direction: column;
    }

    .menu li{/*margenes entre los campos del menu*/
        border-top: 1px solid white;

    }

    #btn-menu:checked ~ .menu{/*detectamos si el check oculto del boton del menu esta desactivado o no para en 
        consecuencia desplegar menu o no*/
        margin: 0;
    }
}


.canvasHistoria{
  z-index: -3;
  position: absolute;
  left: 10%;
  top: 50%;
}

.historia{
  text-align: center;
}
.version{
  right: 20px;
  z-index: 4;
  position: absolute;

}
.pillowCount{
  background-color: #5D4E98;
  margin-top: 15px;
  margin-right: 15px;
  border-style: solid;
  border-radius: 10px;
  padding-right: 7px;
  padding-left: 10px;
  border-color: #D9F5D4; 
  position: absolute;
  z-index: 5;
  right: 0px;

}
.pillowCount h3{
  float: left;
}
.pillowCount img{
  float: left;
  margin-top: 6px;
  margin-left: 5px;
}
.izq{
  left: 10%;
  z-index: 4;
  position: absolute;
  bottom: 20px;
}
.dcha{
  right: 10%;
  z-index: 4;
  position: absolute;
  bottom: 20px;

}
.fondoEnemigos{
  background-color: #5D4E98;
  border-radius: 35px;
  border-style: solid;
  border-color:  #D9F5D4;
  border-width: 10px;
}

.marginAll {

  margin: 20px;
  margin-top: 20px;
  padding-top: 15px;

}

.fondoNiveles{
  background-color: #D9F5D4;
  border-radius: 35px;
  border-style: solid;
  border-color: #5D4E98;
  border-width: 10px;
}
.prueba{
  float: left;
}

.pruebaCen{
  width: 930px;
  margin: 0 auto;
}
.pruebaCen2 {
    width: 620px;
    margin: 0 auto;
}


/*.ammoDes{
  position: absolute;
  top: 200px;
  text-align: center;
}*/

/*.prueba {
  width:100%;
  height: 100px;
  background-color: red;
  color: white;
  text-align:center;
  margin-top:30px;
  padding-top:30px;
}*/

/********LAMPARAAAA***********/

.lampara a {
  color: #333;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  margin: 0px auto;
  font-family: Helvetica, Arial, Sans-Serif;
  text-transform: uppercase;
  font-weight: bold;
}

/*$lamp: 300px;
$cover: 200px;
$cable: 200px;*/
.lamp {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center top;
  animation-timing-function: cubic-bezier(.6, 0, .38, 1);
  animation: move 5s infinite;
  /* IE 10+, Fx 29+ */
}

@keyframes move {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.cable {
  width: 4px;
  height: 200px;
  background: #85406C;
}

.cover {
  width: 200px;
  height: 80px;
  background: #85406C;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  z-index: 200;
}

.in-cover {
  width: 100%;
  max-width: 200px;
  height: 20px;
  border-radius: 100%;
  background: #AAA;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  bottom: -9px;
  z-index: 100;
  }
  .in-cover .bulb {
    width: 50px;
    height: 50px;
    background: #D9F5D4;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0px auto;
  }

.light {
  width: 200px;
  height: 0px;
  border-bottom: 900px solid rgba(100, 100, 100, 0.2);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 270px;
  margin: 0px auto;
  z-index: -1;
}

.agente83{
  background-color: red;
  width: 600px;
  height: 150px;
  background-color: #5D4E98;
  border-radius: 35px;
  border-style: solid;
  border-color:  #D9F5D4;
  border-width: 10px;
  font-size: 19px;
  color: #ffffff;

}
.abajoDcha{
  margin-top: 40px;
  margin-left: 30px;
}



