<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Extras</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../style/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		
	</head>
	<body>
	<!-- <img id="fondo" src="../img/fontWeb.png" alt="background image" /> -->
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="main.html">Inicio</a></li>
				<li><a href="perfil.html">Perfil</a></li>
				<li><a href="wiki.html">Wiki</a></li>
				<li><a href="tienda.html">Tienda</a></li>
				<li><a href="">Extras</a></li>
			</ul>
		</nav>
		</header>
        <a href="extras.html"><div class="pillowCount" id="btnCompra">
            <h3 id="titulin" >100</h3>
            <img src = "../img/proyectoPillow.png" width="50" height="35">
        </div></a>
		<center>  
        <div> 
        <br><br>
                <a href="main.html">
        			<img src="../img/logo.png" height="200" width="200" class="logo">
        		</a>
        <br><br>
        </div>
        
		<h1>¡Ofertas!</h1>
		<br>
		<a class="marginAll" onclick="alerta('5','almohadas')"><img src = "../img/5.png" width = "400" height = "220" id="btnCompra"></a>
		<a class="marginAll" onclick="alerta('15','almohadas')"><img src = "../img/15.png" width = "400" height = "220" id="btnCompra"></a>
		<a class="marginAll" onclick="alerta('30','almohadas')"><img src = "../img/30.png" width = "400" height = "220" id="btnCompra"></a>
		<br><br><br><br>
		<a onclick="alerta('50','almohadas + skin')"><img src = "../img/50.png" width = "700" height = "220" id="btnCompra"></a>
		</center>
		<script type="text/javascript">
      
      ////////////////FUNCION PARA ALERTA DE CONFIRMACIÓN//////////////////////

    function alerta (n,m){
        $.confirm({
        	icon: 'fa fa-shopping-cart',
        	boxWidth: '30%',
        	useBootstrap: false,
            title: 'Vas a realizar una compra',
            content: '<br>¿Estás seguro de que quieres comprar '+n+' '+m+'?',
            buttons: {
                // No: function () {
                //     $.alert('Compra cancelada');
                // },
                No: {
                	icon: 'fa fa-times',
                    text: 'No',
                    btnClass: 'btn-red',
                    keys: ['enter', 'shift'],
                    action: function(){
                        $.alert({
                        		icon: 'fa fa-times',
                        		type: 'red',
                        		typeAnimated: true,
                        		boxWidth: '30%',
                        		useBootstrap: false,
                        	    title: 'Compra cancelada',
                        	    content: '<br>La compra ha sido cancelada con éxito'
                        });
                    }
                },
                Comprar: {
                    text: 'Comprar',
                    btnClass: 'btn-green',
                    keys: ['enter', 'shift'],
                    action: function(){
                        $.alert({
                        		icon: 'fa fa-check',
                        		type: 'green',
                        		typeAnimated: true,
                        		boxWidth: '30%',
                        		useBootstrap: false,
                        	    title: 'Compra realizada',
                        	    content: '<br>¡La compra ha sido realizada con éxito!<br><br>Se han añadido '+n+' '+m+' a tu inventario'
                        });
                    }
                }
            }
        });
    }

      </script>
	</body>
</html>