<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Extras</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../style/style.css">
		
	</head>
	<body>
	<!-- <img id="fondo" src="../img/fontWeb.png" alt="background image" /> -->
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="main.html">Inicio</a></li>
				<li><a href="perfil.html">Perfil</a></li>
				<li><a href="wiki.html">Wiki</a></li>
				<li><a href="tienda.html">Tienda</a></li>
				<li><a href="">Extras</a></li>
			</ul>
		</nav>
		</header>
		<center>  
        <div> 
        <br><br>
           <img src="../img/logo.png" height="200" width="200" class="logo"><br><br>
        </div>
        
		<h1>¡OFERTAS!</h1>
		<br>
		<a href=""><img src = "../img/5.png" width = "300" height = "150" id="btnCompra"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href=""><img src = "../img/15.png" width = "300" height = "150" id="btnCompra"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href=""><img src = "../img/30.png" width = "300" height = "150" id="btnCompra"></a>
		<br><br>
		<a><img src = "../img/50.png" width = "500" height = "150" id="btnCompra"></a>
		</center>
		<!-- <script type="text/javascript">
      
      ////////////////FUNCION PARA ALERTA DE CONFIRMACIÓN//////////////////////


          jConfirm('¿Estás seguro de querer realizar esta compra?', 'Confirmation Dialog', function(r) {
          	jAlert('Confirmed: ' + r, 'Confirmation results');
          });

      </script> -->
	</body>
</html>