<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/favicon.png"  type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../style/style.css"/>
        <!-- Titulo de la pestaña del navegador -->
        <title>Sweet Dreams</title>
    </head>
    <body>
    <img id="fondo" src="../img/fontWeb.png" alt="background image" />
        <a href="../index.html">  
          <div id="atras">
                <div class="button btn2">Atrás</div>
              </button>
          </div> 
        </a>
    <center>  
        <div> <!-- Titulo del juego -->
           <img src="../img/logo.png" height="300" width="300" class="logo"><br><br>
        </div>
    </center>
        <div class="login">
          <div class="login-triangle"></div>
          
          <h2 class="login-header">Log in</h2>

            <form class="login-container">
              <p><input type="email" placeholder="e-mail" required="required"></p>
              <p><input type="password" placeholder="Password" required="required"></p>
              <p><input type="submit" formaction="main.html" value="Entrar" id="btnEntrar"></p>
            </form><br><br><br>
          </div>
        <a href="registro.html">  
          <div id="registrate">
                <div class="button btn1">Regístrate</div>
          </div> 
        </a>
    </body>
</html>