<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/favicon.png"  type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../style/style.css"/>
        <!-- Metadata google -->
        <meta name="Description" CONTENT="Descripcion de la pag web">
        <!-- Titulo de la pestaña del navegador -->
        <title>Sweet Dreams</title>
    </head>
    <body>
    <!-- <img id="fondo" src="../img/fontWeb.png" alt="background image" /> -->
        <a href="../index.html">  
          <div id="atras">
              <p><- Atras</p>
          </div> 
        </a>
    <center>  
        <div> <!-- Titulo del juego -->
           <img src="../img/logo.png" height="300" width="300"><br><br><br><br><br>
        </div>
    </center>
        <div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form class="login-container">
    <p><input type="email" placeholder="Email" required="required"></p>
    <p><input type="password" placeholder="Password" required="required"></p>
    <p><input type="submit" value="Entrar" id="btnEntrar"></p>
  </form><br><br><br><br><br>
  </div>
        <a href="">  
          <div id="registrate">
              <p>Regístrate</p>
          </div> 
        </a>
    </body>
</html>
