<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/favicon.png"  type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../style/style.css"/>
         </head>
         <body>
    <img id="fondo" src="../img/fontWeb.png" alt="background image" />
      <center>  
        <div> <!-- Titulo del juego -->

           <!--<img src="img/MARCOPERFIL.png" height="300" width="300" class="marco"><br><br>
           <img src="img/foto_pre.png" height="200" width="200" class="foto_pre"><br><br>-->

           <div class="marco"><img src="../img/MARCOPERFIL.png" class="marco"></div>
           <div class="foto_pre"><img src="../img/foto_pre.png" class="foto_pre"></div>


<!--<div style="position:relative;"><img src="img/MARCOPERFIL.png" width="300" height="300" vspace="16"> </div><div   <div style=" padding: 0px 50px 30px 100px; "><img border="0"  src="img/foto_pre.png" width="200" height="200" /></a></div></div>-->



        </div>
        </center>
       
    </body>
</html>