<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/favicon.png"  type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../style/style.css"/>
        
    </head>
    <body>
     <img id="fondo" src="../img/fontWeb.png" alt="background image" />
    <a href="../index.html">  
          <div id="atras">
                <div class="button btn2">Atrás</div>
              </button>
          </div> 
        </a>
    <center>
        <div id="archivo" class="foto">
        <img src="../img/foto_pre.png" class="imgRegis">
            <input id="foto" type="file" name="foto">
        </div>
    </center> 
        <div class="login">
      <div class="login-triangle"></div>
      
      <h2 class="login-header">Registro</h2>

          <form class="login-container">
            <p><input id="alias" type="text" placeholder="alias" required="required"></p>
            <p><input id="email" type="email" placeholder="e-mail" required="required"></p>
            <p><input id="contraseña" type="password" placeholder="contraseña"></p>
            <p><input id="repContraseña" type="password" placeholder="repetir contraseña"></p>
            <p><input type="submit" value="Registrarte" id="btnEntrar"></p>
            <p class="termyCond"><input type="checkbox">&nbsp&nbsp&nbsp He leído y acepto los términos y condiciones de uso.</p>
          </form>
      </div> 
    </body>
</html>
