<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Wiki</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../style/style.css">
	</head>
	<body>
	<img id="fondo" src="../img/fontWeb.png" alt="background image" />
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="main.html">Inicio</a></li>
				<li><a href="perfil.html">Perfil</a></li>
				<li><a href="muro.html">Muro</a></li>
				<li><a href="">Wiki</a></li>
				<li><a href="tienda.html">Tienda</a></li>
				<li><a href="extras.html">Extras</a></li>
			</ul>
		</nav>
	</header>

	
		<center>  
        <div> 
        <br>
           <img src="../img/historia.png" height="100" width="100" class="logo"><br>
        </div>
        </center> 

		<table align = center>
			

			
			<tbody>
				<tr>
					<td><a href="../views/subviews/EnemigosWiki.html"><img src = "../img/" width = "500" height = "295"></a></td>
					<td><a href="../views/subviews/NivelesWiki.html"><img src = "../img/" width = "500" height = "295"></a></td>
				</tr>
				
				<tr>
					<td><a href="../views/subviews/AmmoWiki.html"><img src = "../img/" width = "500" height = "295"></a></td>
					<td><a href="../views/subviews/HistoriaWiki.html"><img src = "../img/" width = "500" height = "295"></a></td>
				</tr>
			</tbody>
			
	</table>
	</body>
</html>