<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Objetos</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../style/style.css">
	</head>
	<body>
	<div class="lampara">
	<div class="lamp">
	  
	  <div class="cable"></div>
	  <div class="cover"></div>
	  <div class="in-cover">
	   <div class="bulb"></div>
	  </div>
	  <div class="light"></div>
	 
	</div>
	</div>
	<!-- <img id="fondoObjetos" src="../../img/fontWeb.png" alt="background image" /> -->
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="../main.html">Inicio</a></li>
				<li><a href="../perfil.html">Perfil</a></li>
				<li><a href="../wiki.html">Wiki</a></li>
				<li><a href="../tienda.html">Tienda</a></li>
				<li><a href="../extras.html">Extras</a></li>
			</ul>
		</nav>
	</header>
	<br>

	<table align = center>
			
			<thead>
				<tr>
					<h2 align="center">Ammo</h2>
				</tr>
		
			</thead>
			
			<tbody>
				<tr>
					<td><img src = "../../img/Ammo1.png" width = "400" height = "400" class="fondoEnemigos marginAll">
						<span id="titulin"></span>
					</td>
					<td><div class="agente83"><p class="abajoDcha">Las balas normales, como su buen nombre indica, son normalillas.<br>
					Más bien malillas. Compra otras mejores.
					</p></div></td>
				</tr>
				
				<tr>
					<td><img src = "../../img/Ammo2.png" width = "400" height = "400" class="fondoEnemigos marginAll">
						<span id="titulin"></span>
					</td>
					<td><div class="agente83"><p class="abajoDcha">Las balas de magma, son unas balas potentes capaces de atravesar enemigos.<br>
					Son muy eficaces y recomendables para jugadores que empiezan a jugar.
					</p></div></td>
				</tr>

				<tr>
					<td><img src = "../../img/Ammo3.png" width = "400" height = "400" class="fondoEnemigos marginAll">
						<span id="titulin"></span>
					</td>
					<td><div class="agente83"><p class="abajoDcha">Las balas láser, son unas balas muy rápidas, las cuales causan un efecto de haz de luz verde que corta todo a su paso.<br>
					Son muy eficaces y recomendables para jugadores que empiezan a jugar.
					</p></div></td>
				</tr>

				<tr>
					<td><img src = "../../img/Ammo4.png" width = "400" height = "400" class="fondoEnemigos marginAll">
						<span id="titulin"></span>
					</td>
					<td><div class="agente83"><p class="abajoDcha">Las balas eléctricas, son unas balas súper potentes, las cuales causan un daño impresionante contra tus enemigos.<br>
					Son muy eficaces y recomendables para jugadores avanzados y/o expertos.
					</p></div></td>
				</tr>

				<tr>
					<td><img src = "../../img/Ammo5.png" width = "400" height = "400" class="fondoEnemigos marginAll">
						<span id="titulin"></span>
					</td>
					<td><div class="agente83"><p class="abajoDcha">Las balas congelantes, consiste en un efecto lanzallamas de hielo, las cuales causan un daño impresionante contra tus enemigos y los congela.<br>
					Son muy eficaces y recomendables para jugadores avanzados y/o expertos.
					</p></div></td>
				</tr>

				<tr>
					<td><img src = "../../img/Ammo6.png" width = "400" height = "400" class="fondoEnemigos marginAll">
						<span id="titulin"></span>
					</td>
					<td><div class="agente83"><p class="abajoDcha">Las balas venenosas, se quedan pegadas a los enemigos, les causan un daño impresionante y los congela envenena.<br>
					Son muy eficaces y recomendables para jugadores avanzados y/o expertos.
					</p></div></td>
				</tr>

			</tbody>
			
	</table>
	</body>
</html>