<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Enemigos</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../style/style.css">
	</head>
	<body>
	<div class="lampara">
	<div class="lamp">
	  
	  <div class="cable"></div>
	  <div class="cover"></div>
	  <div class="in-cover">
	   <div class="bulb"></div>
	  </div>
	  <div class="light"></div>
	 
	</div>
	</div>
	<!-- <img id="fondoEnemigos" src="../../img/fontWeb.png" alt="background image" /> -->
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="../main.html">Inicio</a></li>
				<li><a href="../perfil.html">Perfil</a></li>
				<li><a href="../wiki.html">Wiki</a></li>
				<li><a href="../tienda.html">Tienda</a></li>
				<li><a href="../extras.html">Extras</a></li>
			</ul>
		</nav>
	</header>
	<br>

	<table align = center>
			
			<thead>
				<tr>
					<h2 align="center">Enemigos</h2>
				</tr>
		
			</thead>
			
			<tbody>
				<tr>
					<td><img src = "../../img/papayaso.png" width = "350" height = "400" class="fondoEnemigos marginAll"></td>
					<td><div class="agente83"><p class="abajoDcha">Estos payasetes son muy gamberros, sus bromas no tienen mucha gracia.<br>Últimamente arruinan todas las fiestas de los niños a las que van. Mucho cuidado</p></div></td>
				</tr>
				
				<tr>
					<td><img src = "../../img/zombosito.png" width = "350" height = "400" class="fondoEnemigos marginAll"></td>
					<td><div class="agente83"><p class="abajoDcha">El zombosito parece un ser entrañable, pero mejor no fiarse de el.<br>Este ser es de la familia de los zombinejos. No te fies de ellos.</p></div></td>
				</tr>

				<tr>
					<td><img src = "../../img/zombinejo.png" width = "350" height = "400" class="fondoEnemigos marginAll"></td>
					<td><div class="agente83"><p class="abajoDcha">El zombinejo es un ser mágico, una fusión extrema entre un zombi y un conejo.<br>Este ser es de la familia de los zombositos. Tampoco te fies de ellos.
					</p></div></td>
				</tr>

				<tr>
					<td><img src = "../../img/locopato.png" width = "350" height = "400" class="fondoEnemigos marginAll"></td>
					<td><div class="agente83"><p class="abajoDcha">A el pobre locopato le faltan dos o tres tornillos. Cuidado con el que le da igual todo y esta muy loco.<br>
					Locopato viene de locomundo que es un lugar como no, de locos.</p></div></td>
				</tr>

				<tr>
					<td><img src = "../../img/zombifante.png" width = "350" height = "400" class="fondoEnemigos marginAll"></td>
					<td><div class="agente83"><p class="abajoDcha">Los maravillosos zombifantes, mejor no vamos a entrar en explicaciones sobre su procedencia.<br>Mejor no acercarte a acariciarlos ni decirles nada, son muy cabezones y grandes.</p></div></td>
				</tr>

			</tbody>
			
	</table>
	</body>
</html>