<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Niveles</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../style/style.css">
	</head>
	<body>
	<img id="fondoNiveles" src="../../img/fontWeb.png" alt="background image" />
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="../main.html">Inicio</a></li>
				<li><a href="../perfil.html">Perfil</a></li>
				<li><a href="../muro.html">Muro</a></li>
				<li><a href="../wiki.html">Wiki</a></li>
				<li><a href="../tienda.html">Tienda</a></li>
				<li><a href="../extras.html">Extras</a></li>
			</ul>
		</nav>
	</header>
	<br>

	<table align = center> 
			
			<thead>
				<tr>
					<th colspan = "2" id = "titulin"> Niveles </th>
				</tr>
		
			</thead>
			
			<tbody>
				<tr>
					<td><img src = "img/" width = "250" height = "400"></a></td>
					<td><img src = "img/" width = "800" height = "400"></a></td>
				</tr>

				<tr>
					<td><img src = "img/" width = "250" height = "400"></a></td>
					<td><img src = "img/" width = "800" height = "400"></a></td>
				</tr>

				<tr>
					<td><img src = "img/" width = "250" height = "400"></a></td>
					<td><img src = "img/" width = "800" height = "400"></a></td>
				</tr>
			</tbody>
			
	</table>

	</body>
</html>