<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Tienda Ammo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../style/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
	<!-- <img id="fondo" src="../../img/fontWeb.png" alt="background image" /> -->
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="../main.html">Inicio</a></li>
				<li><a href="../perfil.html">Perfil</a></li>
				<li><a href="../wiki.html">Wiki</a></li>
				<li><a href="../tienda.html">Tienda</a></li>
				<li><a href="../extras.html">Extras</a></li>
			</ul>
		</nav>
	</header>
	<a href="../extras.html">
		<div class="pillowCount" id="btnCompra">
			<h3 id="titulin" >100</h3>
			<img src = "../../img/proyectoPillow.png" width="50" height="35">
		</div>
	</a>
	<center> 
        <div> 
        <br><br>
           <img src="../../img/ammo.png" height="250" width="400" class="logo"><br>
        </div>
        
		<h2>Ammo</h2>
        <br>
        

				<hr size="3px" width="500px" noshade="noshade">
				<br><br><br>
					<div class="pruebaCen">
					<div class="prueba" id="btnCompra" onclick="alerta('Balas normales')"><img src = "../../img/Ammo1.png" width = "250" height = "250" class="fondoEnemigos marginAll">
					</div>
					<div class="prueba" id="btnCompra" onclick="alerta('Balas de magma')"><img src = "../../img/Ammo2con.png" width = "250" height = "250" class="fondoEnemigos marginAll">
					</div>
					<div class="prueba" id="btnCompra" onclick="alerta('Balas láser')"><img src = "../../img/Ammo3con.png" width = "250" height = "250" class="fondoEnemigos marginAll">
					</div>
					<div class="prueba" id="btnCompra" onclick="alerta('Balas eléctricas')"><img src = "../../img/Ammo4con.png" width = "250" height = "250" class="fondoEnemigos marginAll">
					</div>
					<div class="prueba" id="btnCompra" onclick="alerta('Balas congelantes')"><img src = "../../img/Ammo5con.png" width = "250" height = "250" class="fondoEnemigos marginAll">
					</div>
					<div class="prueba" id="btnCompra" onclick="alerta('Balas venenosas')"><img src = "../../img/Ammo6con.png" width = "250" height = "250" class="fondoEnemigos marginAll">
					</div>
					</div>

	</center>
	
	<script type="text/javascript">
      
      ////////////////FUNCION PARA ALERTA//////////////////////
      	function alerta (n){
	        $.alert({
	          	icon: 'fa fa-check',
	          	type: 'green',
	          	typeAnimated: true,
	          	boxWidth: '30%',
	          	useBootstrap: false,
	            title: 'Compra realizada',
	            content: '<br>¡La compra ha sido realizada con éxito!<br><br>Se ha añadido '+n+' a tu inventario'
	      });
  		}


	</script>		
				
	<br><br>
	</body>
</html>