<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Tienda Vidas</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="icon" href="../../img/favicon.png"  type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../style/style.css">
	</head>
	<body>
	<!-- <img id="fondo" src="../../img/fontWeb.png" alt="background image" /> -->
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="../../img/icono_menu.png" alt=""></label>
		<nav class="menu">
			<ul>
				<li><a href="../main.html">Inicio</a></li>
				<li><a href="../perfil.html">Perfil</a></li>
				<li><a href="../wiki.html">Wiki</a></li>
				<li><a href="../tienda.html">Tienda</a></li>
				<li><a href="../extras.html">Extras</a></li>
			</ul>
		</nav>
	</header>
	<a href="../extras.html">
		<div class="pillowCount" id="btnCompra">
			<h3 id="titulin" >100</h3>
			<img src = "../../img/proyectoPillow.png" width="50" height="35">
		</div>
	</a>
	<center>  
        <div> 
        <br><br>
           <img src="../../img/generalVidas.png" height="250" width="400" class="logo"><br>
        </div>
        
		<h2>Vidas</h2>
        <br>
        

				<hr size="3px" width="500px" noshade="noshade">
				<br><br><br>
				<a href="" class="marginAll"><img src = "../../img/1vidas.png" width = "400" height = "200" id="btnCompra" class="fondoEnemigos">
					</a>
					<a href="" class="marginAll"><img src = "../../img/3vidas.png" width = "400" height = "200" id="btnCompra" class="fondoEnemigos">
					</a>
					<a href="" class="marginAll"><img src = "../../img/5vidas.png" width = "400" height = "200" id="btnCompra" class="fondoEnemigos">
					</a>

	</center> 
				
				
			</tbody>
			
	</table>
	<br><br>
	</body>
</html>